@* This tells the compiler to use the new RazorComponent - see https://r.2sxc.org/RazorComponent *@ 
@inherits ToSic.Sxc.Dnn.RazorComponent

<div class="co-container-outer co-lightgray">
    <div class="co-container-inner">
        <div id="disqus_thread" style="min-height: 100px;" @Edit.TagToolbar(Content)>
            <div id="disqus_thread_loader">Loading Comments...</div>
        </div>
    </div>
</div>

<script>
var disqus_observer = new IntersectionObserver(function(entries) {
    // comments section reached
    // start loading Disqus now
    if(entries[0].isIntersecting) {
        var disqus_config = function () {
        // this.page.url = PAGE_URL;
        // this.page.identifier = PAGE_IDENTIFIER;
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://@(App.Settings.DomainKey)/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

        // once executed, stop observing
        disqus_observer.disconnect();
    }
}, { threshold: [0] });
disqus_observer.observe(document.querySelector("#disqus_thread"));

</script>